body {
    margin:0;
    background-color: darkcyan;
    font-family: Verdana, sans-serif;
}

h1 {
    color: gainsboro;
}


.examples {
    margin-left: 20px;
}

canvas {
    width: 100%;
    height: 100%;
}